# Systems
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log
yarn-error.log

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*
!.env.example

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Build Outputs
dist/
build/
out/
coverage/

# Antigravity
.antigravity/
